ASPNETCORE_ENVIRONMENT=Development
CONNECTIONSTRINGS__DEFAULTCONNECTION=Host=localhost;Port=5435;Database=funeraria_db;Username=db_user;Password=CHANGE_ME
JWT__KEY=CHANGE_ME_MIN_32_CHARS
JWT__ISSUER=FunerariaApp
JWT__AUDIENCE=FunerariaApp
JWT__EXPIRATIONHOURS=8
BASEURL=https://localhost:7065